{% extends 'base.html.twig' %}

{% block title %}Legume{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-9">
        <h1  style="text-align: center; margin-top: 10px;  margin-left: 250px;  margin-bottom: 30px;">{{ legume.nomLeg }}</h1>
        </div>
        <div class="col-3">
            {% if fav == "true" %}
                <a href="{{path('legume_retirer_favoris',{'id': legume.id})}}"><button style="margin-top: 10px;  margin-bottom: 30px;" class="btn btn-warning" type="button"><i class="fas fa-heart" aria-hidden="true"></i>Retirer du potager</button></a>
                
            {% elseif fav == "false" %}
                <a href="{{path('legume_mettre_favoris',{'id': legume.id})}}"><button style="margin-top: 10px;  margin-bottom: 30px;" class="btn btn-warning" type="button"><i class="fas fa-heart" aria-hidden="true"></i>Ajouter au potager</button></a>
            {% else %}
                <a href="{{path('app_login',{'id': legume.id})}}"><button style="margin-top: 10px;  margin-bottom: 30px;" class="btn btn-warning" type="button"><i class="fas fa-heart" aria-hidden="true"></i>Ajouter au potager</button></a>
                 
            {% endif %}
        </div>
    </div>
             <img  style="text-align: center; margin-top: 10px;  margin-bottom: 30px;" src="{{ legume.image }}">
            <p  style="text-align: justify; margin-top: 10px;  margin-bottom: 30px;"> {{legume.description}}</p>

            <h4 style=" margin-top: 10px;  margin-bottom: 30px;"> A associer avec :</h4>

            <div class="row">
    
        {% for bonneAsso in bonnesAssos %}
        
                <div class="col">
                    <div class="card"  style="width: 18rem;  margin-bottom:20px;">
                            <img  class="card-img-top" src="{{ bonneAsso.image }}"  width="80px" height="150px">
                            <div class="card-body">
                                <h5 class="card-title">{{ bonneAsso.nomLeg }}</h5>
                                <a href="{{path('legume_show',{'id': bonneAsso.id})}}" class="btn btn-primary">Voir</a>
                            </div>
                    </div>
                </div>
        {% else %}
           Cette plante est solitaire...
        {% endfor %}
            </div>


            <h4 style="margin-top: 10px;  margin-bottom: 30px;"> A ne pas associer avec: </h4>

            <div class="row">
    
        {% for mauvaiseAsso in mauvaisesAssos %}
        
                <div class="col">
                    <div class="card"  style="width: 18rem; margin-bottom:20px;">
                            <img  class="card-img-top" src="{{ mauvaiseAsso.image }}"  width="80px" height="150px">
                            <div class="card-body">
                                <h5 class="card-title">{{ mauvaiseAsso.nomLeg }}</h5>
                                <a href="{{path('legume_show',{'id': mauvaiseAsso.id})}}" class="btn btn-primary">Voir</a>
                            </div>
                    </div>
                </div>
        {% else %}
           Cette plante est solitaire...
        {% endfor %}
            </div>
<hr style="padding-top:30px; ">
            <div class="card" style="margin-top:20px;">
                <div class="card-header">
                    <h1> Commentaires </h1>
                </div>
                <div class="card-body">
                        <table class="table">
                            <tbody>
                            {% for commentaire in commentaires %}
                                <tr>
                                <th scope="row">{{commentaire.prenom}} {{commentaire.nom}}</th>
                                <td>{{commentaire.created_at | date('d/m/Y')}}</td>
                                <td>{{commentaire.contenu}}</td>
                               
                                </tr>
                            {% else %}
                                Soyez le premier à commenter! :)
                            {% endfor %}
                            
                            </tbody>
                        </table>
                                {{ form_start(form) }}
                                    {{ form_widget(form.contenu) }}

                                    <button class="btn btn-danger" style="margin-top:20px;">{{ button_label|default('Commenter') }}</button>
                                    </br>
                                {{ form_end(form) }}
                </div>
            </div>
            
        
    <a href="{{ path('legume_index') }}">Retour à la liste</a>


    {{ include('legume/_delete_form.html.twig') }}
</div>
{% endblock %}
